/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 40px;
    box-sizing: border-box;
    height: 614px;
}

body {
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: #F2F2F2;
    width: 60%;
    height: 575px;
    padding: 20px;
    border-radius: 15px;
    gap: 30px;
}

/****** Populaires ***********/
.populaires {
    background-color: #F2F2F2;
    width: 30%;
    height: 575px;
    padding: 20px;
    border-radius: 15px;
    gap: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 64.25px;
    padding-left: 15px;
    padding-right: 15px;
    border: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-items: center;
    margin-bottom: 8px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 79px;
    margin-bottom: 30px;

}

.logo {
    display: flex;
    width: 161.09px;
    height: 79px;
    opacity: 1;
    gap: 10px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 344px;
    height: 35px;
    left: 1096px;
    gap: 68px;
    padding-right: 50px;
    padding-left: 50px;
    gap: 68px;
}

.navbar {
  position: relative;
  width: 100%;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 0;
}

.navbar ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0065FC;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.navbar ul li a:hover::before {
  transform: scaleX(1);
}

.logo {
    width: 61.09px;
    height: 19px;
}

.head-search {
    width: 1340px;
    height: 281px;
    gap: 35px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    width: 1440;
}

.head-search h1 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
}

.head-search p {
    margin-top: 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 207.25px;
}

.activites-marseille {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    height: 560px;
    gap: 30px;
    padding: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.activites-marseille h2 {
    padding-left: 33px;
}

.marseille-cards {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 1280px;
    height: 439px;
    padding-left: 30px;
    gap: 30px;
}

.marseille-cards .card {
    padding: 0;
}

.marseille-cards .card-content {
    padding-left: 18px;
    padding-bottom: 5px;
}

.marseille-cards img {
    width: 300px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
    padding: 40px;
}

footer div {
    flex: 1;
    margin-right: 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-top: 10px;
    text-align: left;
}

.filtres-container {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 800px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-evenly;
}

.filtres-container h2 {
    font-size: 18px;
}

.recherche-area{
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white; 
    margin-top: 25px;
    margin-bottom: 20px;
}

.filtres-container .btn {
    cursor: pointer;
    width: 173px;
    height: 50px;
    gap: 10px;
    border: 2px;
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filtres-container .btn:hover {
    background-color: #DEEBFF;

}

.recherche-area i {
    display: flex; 
    width: 50px; 
    height: 100%; 
    border-bottom-left-radius: 15px; 
    border-top-left-radius: 15px; 
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
}

.recherche-area input {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    padding: 0;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.recherche-area button {
    cursor: pointer;
    height: 100%;
    gap: 10px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.info-ligne {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.info-ligne p {
  margin: 0;
}

.search-btn i {
    display: none;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    header {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

     .navbar {
        width: 100%;
        padding: 0;
    }

    nav ul {
        width: auto;
        gap: 40px;
    }

    .head-search {
        width: 100%;
        max-width: 1024px;
        height: auto;
        gap: 35px;
        margin: 0 auto;
    }
    
    .hebergements-and-populaires {
        display: flex; 
        gap: 2rem;
        align-items: flex-start;
        flex-wrap: wrap; 
    }

    .hebergements,
  .populaires {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
  }


    .hebergements {
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 30px;
        box-sizing: border-box;
        padding-bottom: 60px;
        height: 640px
   }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 100%;
        justify-items: center;
    }

    .hebergements-cards .card {
        background: white;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards .card-content {
        width: 230px;
        height: 64.25px;
        gap: 8px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .hebergements-cards .card img {
        width: 100%;
        height: 124px;
        object-fit: cover;
        border-width: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .afficher-plus {
        padding-right: 145px;
    }

    .populaires {
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 15px;
        padding: 30px;
        box-sizing: border-box;
        height: auto;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        justify-items: center;
        width: 100%;
    }

    .populaires-cards .card {
        display: flex;
        width: 245px;
        height: 146px;
        border-radius: 20px;
    }

    .populaires-cards .card-content {
         width: 183.11px;
         height: 136px;
         top: 5px;
         left: 91.56px;
         gap: 24px;
         padding-top: 10px;
         padding-right: 5px;
         padding-bottom: 5px;
         padding-left: 15px;
    }

    .populaires-cards a {
        min-width: 250px;
    }

    .populaires-cards img {
        width: 91.56px;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 5px;
    }

    .populaires-cards a {
        width: auto;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    body {
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
        max-width: 1024px;
        box-sizing: border-box;
    }

    .activites-marseille {
        width: 924px;
        height: 390.2px;
        gap: 30px;

    }

    .marseille-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 100%;
    }

    .marseille-cards .card {
        width: 193.5px;
        height: 270px;
        border-radius: 20px;
    }

    .marseille-cards img {
        width: 193.5px;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .marseille-cards .card-content {
        width: 193.5px;
        height: 70px;
        gap: 10px;
        padding-right: 19px;
        padding-bottom: 20px;
        padding-left: 19px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .main-container {
        width: 924px;
        gap: 50px;
        height: auto;
    }

    footer {
        display: flex;
        width: 924px;
        height: 163px;
        gap: 15px;
    }

    footer div {
        flex: 1;
        margin-right: 20px;
    }


    footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    footer li {
        text-align: left;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    html, body {
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
  }

    header {
        width: 100%;
        height: 115px;
    }

    .logo {
        display: flex;
        justify-items: center;
        width: 61.1px;
        height: 19px;
        padding: 30px;
        align-items: center;
    }

    .logo img {
        width: 62px;
        height: 19px;
    }

    .navbar ul li {
        flex: 1;
        text-align: center;
    }

    .navbar ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar ul li a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065fc;
    }

    .head-search {
        width: 100%;
        height: auto;
        margin-top: 50px;
        gap: 35px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .filtres-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 15px;
    }

    .filtres-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }

    .filtres-grid .btn {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .recherche-area {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden; 
    }

    .recherche-area button {
        width: auto;
        max-width: 100%;
        padding: 5px;
        font-size: 12.5px;
        padding-top: 18px;
    }

    .recherche-area button i {
        background: none;
        color: #0065fc;
    }

    .info-ligne {
        padding-top: 120px;
    }

    .hebergements-and-populaires {
        width: 100%;
        height: auto;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-top: 45px;
    }

    .hebergements {
        width: 100%;
        height: auto;
        margin: 0 auto;
        gap: 15px;
        background-color: white;
        order: 0;
        padding-bottom: 0;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    .populaires {
        width: 100%;
        background-color: #F2F2F2;
        border-radius: 0;
        gap: 15px;
        padding: 20px;
        order: -1;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .populaires-cards .card {
        width: 100%;
        max-width: 335px;
        border-radius: 20px;

    }

    .hebergements-cards .card {
        width: 100%;
        max-width: 335px;
        gap: 4px;
        padding-bottom: 15px;
        border-radius: 20px;

    }

    .activites-marseille {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 30px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 720px;
    }

    .marseille-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 0;  
    }

    .marseille-cards .card {
        width: 100%;
        max-width: 315px;
        border-radius: 20px;

    }

    .marseille-cards img {
        width: 315px;
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 5px;
    }

    .marseille-cards .card-content {
        width: 315px;
        height: 50px;
        padding-top: 20px;
        padding-right: 19px;
        padding-bottom: 20px;
        padding-left: 19px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        gap: 10px;
    }

    .activites-marseille .section-title {
        text-align: left;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding-right: 100px;
    }

    .activites-marseille h2 {
        padding-left: 33px;
        padding: 0px;
    }

    section {
        margin-bottom: 40px;
    }

    footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background-color: #F2F2F2;
        box-sizing: border-box;
        gap: 15px;
        height: auto;
    }

    footer div {
        width: 100%;
    }

    footer ul {
        padding: 0;
        list-style: none;
    }

    footer li {
        margin-bottom: 15px;
    }

    .search-btn .btn-text {
    display: none;
    }

    .search-btn i {
        display: inline-block;
    }

}